<%= javascript_pack_tag 'boats_table' %>

<div>
  Toggle column:
  <a class="toggle-vis" data-column="0" href="#">Description</a> -
  <a class="toggle-vis" data-column="1" href="#">Price</a> -
  <a class="toggle-vis" data-column="2" href="#">Length</a> -
  <a class="toggle-vis" data-column="3" href="#">Year</a> -
  <a class="toggle-vis" data-column="4" href="#">Location</a> -
  <a class="toggle-vis" data-column="5" href="#">URL</a> -
  <a class="toggle-vis" data-column="6" href="#">Last Updated</a>
</div>

<div data-turbolinks="false">
  <table id='boats' data-source="<%= favorites_path(format: :json) %>" class='table'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Length</th>
        <th>Year</th>
        <th>Location</th>
        <th>URL</th>
        <th>Last Updated</th>
        <th class='hide_column'>Favorite</th>
        <th class='hide_column'>Nope!</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Length</th>
        <th>Year</th>
        <th>Location</th>
        <th>URL</th>
        <th>Last Updated</th>
        <th>Favorite</th>
        <th>Nope!</th>
      </tr>
    </tfoot>
  </table>
</div>
