<%= javascript_pack_tag 'boats_table' %>

<% flash.each do |type, msg| %>
  <% alert_class = type == 'notice' ? 'alert-success' : 'alert-danger' %>
  <div class="alert alert-dismissible fade show <%= alert_class %>" role="alert">
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div>
  <div class="form-group form-check">
    <input type="checkbox" name="showNo" class="form-check-input" id="showNo">
    <label class="form-check-label" for="showNo">Show hidden boats</label>
  </div>
</div>

<div data-turbolinks="false">
  <table id='boats' data-source="<%= boats_path(format: :json) %>" class='table'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Length</th>
        <th>Year</th>
        <th>Location</th>
        <th>URL</th>
        <th>Last Updated</th>
        <th class='hide_column'>Favorite</th>
        <th class='hide_column'>Nope</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Length</th>
        <th>Year</th>
        <th>Location</th>
        <th>URL</th>
        <th>Last Updated</th>
        <th>Favorite</th>
        <th>Nope</th>
      </tr>
    </tfoot>
  </table>
</div>
