<%= form_with model: @boat do |f| %>
  <div class="form-group form-check">
    <%= f.check_box 'yes', {class: 'form-check-input', onchange: 'this.form.submit()'} %>
    <%= f.label :yes, 'Add to Favorites', {class: 'form-check-label'} %>
  </div>
<% end %>

<%= form_with model: @boat do |f| %>
  <div class="form-group form-check">
    <%= f.check_box 'no', {class: 'form-check-input', onchange: 'this.form.submit()'} %>
    <%= f.label :no, 'Nope!', {class: 'form-check-label'} %>
  </div>
<% end %>

<h1><%= @boat.description %></h1>
<h2><%= @boat.length %> ft</h2>
<h3><%= @boat.year %></h3>
<h4><%= @boat.location %></h4>
<h5><%= link_to @boat.url, @boat.url, target: '_blank', rel: 'noreferrer' %></h5>
<h6>Last Updated: <%= time_tag @boat.updated_at %></h6>

<div class="card">
  <div class="card-header">Costs</div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Price</dt>
      <dd class="col-sm-9"><%= number_to_currency @boat.price %></dd>
      <dt class="col-sm-3">Offer Price</dt>
      <dd class="col-sm-9"><%= number_to_currency @boat.offer_price %></dd>
      <dt class="col-sm-3">Registration</dt>
      <dd class="col-sm-9"><%= number_to_currency @boat.registration %></dd>
      <dt class="col-sm-3">Taxes</dt>
      <dd class="col-sm-9"><%= number_to_currency @boat.taxes %></dd>
      <dt class="col-sm-3">Insurance</dt>
      <dd class="col-sm-9"><%= number_to_currency @boat.insurance %></dd>
      <dt class="col-sm-3">Estimated Capital Expenditure</dt>
      <dd class="col-sm-9"><%= number_to_currency @boat.estimated_capital_expenditure %></dd>
    </dl>
  </div>
</div>

<% if @boat.versions.size > 0 %>
  <%= debug @boat.price_history %>
  <%= line_chart @boat.price_history %>
<% end %>
