<!DOCTYPE html>
<html>
  <head>
    <title>Boats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <nav class='navbar navbar-expand-md navbar-dark bg-dark fixed-top'>
        <a class='navbar-brand' href='/' data-turbolinks="false">
          <i class='fas fa-anchor'></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/" data-turbolinks="false">Boats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favorites" tabindex="-1"  data-turbolinks="false">Favorites</a>
            </li>
          </ul>
          <div>
            <%= link_to 'Find New Boats', find_new_boats_path, class: 'btn btn-outline-success' %>
            <%= link_to 'Delete Old Boats', delete_old_boats_path, class: 'btn btn-outline-danger' %>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
